{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": [
    "cucumber"
  ],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "linebreak-style": 0,
    "new-cap": 0,
    "require-jsdoc": 0,
    "max-len": [
      2,
      {
        "code": 160,
        "tabWidth": 4,
        "ignoreUrls": true
      }
    ]
  }
}